
.App{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqy0byaaMAIQhlwQQVJjXNkpK-8mBpphDZZtjCD57jfyqLcGBpGFBQG1jFmBy0a-Xp1Tc&usqp=CAU%27');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}